<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="Onyx MenuFreeFire Preview"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <meta-data
            android:name="com.nguyen.onyxmenu.MENU_PROVIDER"
            android:value="com.nguyen.onyxpayload.MenuFreeFireProvider" />

        <activity
            android:name="com.nguyen.onyxpayload.OnyxPermissionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
