<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.nguyen.onyxmenu.MENU_PROVIDER"
            android:value="com.nguyen.onyxpayload.StandaloneMenuProvider" />

        <activity
            android:name=".OnyxPermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
